.inventory-btn {
    width: 100%;
    padding: 15px 10px;
    font-size: 1.2em;
    font-weight: bold;
    border: 2px solid #00ff41;
    cursor: pointer;
    transition: background-color 0.1s;
}

.inventory-btn:hover {
    background-color: rgba(0, 255, 65, 0.1);
}