.game-container {
    display: grid;
    grid-template-columns: 3fr 1fr; 
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto; 
    height: 90vh;
}

.main-column {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-right: 1px solid rgba(0, 255, 65, 0.2); 
}

app-story-log {
    flex-grow: 1; /* allows story text to fill vert space
    overflow-y: auto; /* allows story text to scroll */
}

.sidebar-column {
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 90vh;
}

app-stat-panel {
    flex-shrink: 0;
    margin-top: 20px;
}